header{
    background-color: white;}
    
body{
    background-color: white;
}

a{
    text-decoration-color: #66899D;
    color: #66899D;
}
/* Centered text */

 .myName {
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    color:black;
    font-size: xx-large;
  }
.webDev {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    color:black;
  }
/*end centered text*/
h1{
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    color:black;
    }
h2{
    color:black;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    }

/*img[src*="book"]{ padding: 5%;
     
}*/
h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    padding-left: 5%;
    font-size: 25px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    color: rosybrown;
    font-size: large;
}
h5{
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 30px;
}

h6{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    padding-left: 5%;
    font-size: 15px;
}

.label{
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
}
.nameInput,
.companyInput,
.messageInput{
    border-radius: 10px;
    border-color: white;
    border-style: solid; 
    background-color: whitesmoke;
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 20px;
}

.messageInput{
    height: 200px;
    min-width: 200px;
    max-width: 500px;
}
.formIntro{
    border-style: solid;
    border-radius: 20px;
    border-color: white;
}

/*.wholeForm{
    border-style: dotted;
    border-radius: 20px;
    border-color: white;
}*/

.scallop-up {
    height: 100px;
    width: 100%;
  /*   background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, */
    background-image: radial-gradient(50px at 50% 100%, black, black 49%, white 51%, white);
    background-size: 49px 100%;
  }
  
  .scallop-down {
    height: 100px;
    width: 100%;
    background-image: radial-gradient(50px at 50% 0, white, white 49%, lightgrey 51%, lightgrey);
    background-size: 49px 100%;
  }
  .scallop-downtwo {
    height: 100px;
    width: 100%;
    background-image: radial-gradient(50px at 50% 0, rosybrown, rosybrown 49%, white 51%, white);
    background-size: 49px 100%;
  }

footer{
    background-color: lightgrey;
}
