header{
    background-color:rgba(255, 192, 203, 0.9);
    position:fixed;
    width:100%;
    top:0px;
    padding-left: 10%;}   
.introButtons{
    background-color:pink;
    border-radius: 25px;
    border-width: 5px;
    text-decoration-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
}
a:hover{
    background-color: rgb(132, 218, 218);
}

.my_intro{
    padding:5%;
}
 .myName {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    font-style: 'Semi-bold 600';
    color:white;
    font-size: 60px;
  }

.webDev {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    color:white;
  }
/*end centered text*/
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    font-style: 'Semi-bold 600';
    color:black;
    }
h2{
    color:black;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    }

/*img[src*="book"]{ padding: 5%;
     
}*/
h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    font-size: 25px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    color: rosybrown;
    font-size: large;
}
h5{
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 30px;
}

h6{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter ;
    padding-left: 5%;
    font-size: 15px;
}

.label{
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
}
.nameInput,
.companyInput,
.messageInput{
    border-radius: 10px;
    border-color: white;
    border-style: solid; 
    background-color: whitesmoke;
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 20px;
}
.contactName,
.contactComment{
    border-radius: 10px;
    border-color: white;
    border-style: solid; 
    background-color: whitesmoke;
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-style: 'Semi-bold 600';
    font-size: 20px;
}

.messageInput{
    height: 200px;
    min-width: 200px;
    max-width: 500px;
}
.formIntro{
    border-style: solid;
    border-radius: 20px;
    border-color: white;
}

/*.wholeForm{
    border-style: dotted;
    border-radius: 20px;
    border-color: white;
}*/

/*.scallop-up {
    height: 100px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, 
    background-image: radial-gradient(50px at 50% 100%, black, black 49%,white 51%, white);
    background-size: 49px 100%;
  }*/
.scallop-down {
    height: 100px;
    width: 100%;
    background-image: radial-gradient(50px at 50% 0, #eeeaea, #eeeaea 49%, lightgrey 51%, lightgrey);
    background-size: 49px 100%;
  }
  .scallop-downtwo{
    height: 100px;
    width: 100%;
    background-image: radial-gradient(50px at 50% 0, white, white 49%, pink 51%, pink);
    background-size: 49px 100%;
  }

.scallop-downthree{
    height: 100px;
    width: 100%;
    background-image: radial-gradient(50px at 50% 0, pink, pink 49%, #cecaca50 51%, #cecaca50);
    background-size: 49px 100%;
  }

 
footer{
    background-color: lightgrey;
}

/* Split the screen in half */
.split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

/*middle section intended for art pictures and corresponding background*/
.middle{
    background-color: pink;
}

.owl,
.lion,
.zebra{
border-radius: 25px;
padding:10px;
}

.owl,
.zebra{
    padding-right: 25%;
}

.lion{
    padding-left:25%;
}

  /* Control the bottom color */
.bottom {
    bottom: 0;
    background-color: #eeeaea;
  }
  
/